<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado de productos</title>
</head>

<body>

        <ul>
                <% products.forEach(function(product) { %>
                        <li><a href="#">
                                        <%= product.nombre %>
                                </a></li>
                        <li><a href="#">
                                        <%= product.id %>
                                </a></li>
                        <li><a href="#">
                                        <%= product.precio %>
                                </a></li>
                        <li><img src="/img/productos/<%=product.imagenes[0]%>" alt="Imagen del Producto"
                                        style="width: 30px; height: 30px;"></li>
                        <li><img src="/img/productos/<%=product.imagenes[1]%>" alt="Imagen del Producto"
                                        style="width: 30px; height: 30px;"></li>
                        <li><img src="/img/productos/<%=product.imagenes[2]%>" alt="Imagen del Producto"
                                        style="width: 30px; height: 30px;"></li>
                        <li><img src="/img/productos/<%=product.imagenes[3]%>" alt="Imagen del Producto"
                                        style="width: 30px; height: 30px;"></li>
                        <li><a href="#">
                                        <%= product.descripcionN1 %>
                                </a></li>
                        <li><img src="/img/productos/<%=product.imagenes[4]%>" alt="Imagen del Producto"
                                        style="width: 30px; height: 30px;"></li>
                        <li><img src="/img/productos/<%=product.imagenes[5]%>" alt="Imagen del Producto"
                                        style="width: 30px; height: 30px;"></li>
                        <li><a href="#">
                                        <%= product.descripcionN2 %>
                                </a></li>
                        <form action="/products/delete/<%= product.id %>?_method=DELETE" method="post">
                                <button type="submit">DELETE</button>
                        </form>
                        <hr>
                        <% }); %>

        </ul>
</body>

</html>